article {
  padding: 8px;

  h1 {
    margin: 2rem 0 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 140%;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.2rem 0;
  }
  p {
    margin: 0.5rem 0;
  }
}
@import "markup";
@import "syntax";
