article {
  .highlight-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .highlight-bar-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
    }
    .highlight-bar-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
    }
  }
  .highlight-wrapper {
    pre {
      margin-top: 0;
      padding-bottom: 8px;
    }
  }
}
