@media (max-width: 1200px) {
  .wrapper {
    header {
      padding: 0 16px;
    }
    .menu {
      display: none;
    }
    .toc {
      display: none;
    }
    grid-template-columns: minmax(0, auto);
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}
