article {
  .admonition {
    position: relative;
    margin: 1rem 0;
    padding: 0 0.75rem;
    border-left: 0.25rem solid;
    overflow: auto;
    background-color: rgba(68, 138, 255, 0.1);
    border-left-color: #448aff;
    .admonition-title {
      background-color: rgba(68, 138, 255, 0.1);
      border-bottom-color: rgba(68, 138, 255, 0.1);
      background-color: rgba(68, 138, 255, 0.25);
      font-weight: bold;
      margin: 0 -0.75rem;
      padding: 0.25rem 2rem;
    }
    i.icon {
      color: #448aff;
    }
    i.icon {
      font-size: 0.85rem;
      position: absolute;
      top: 0.6rem;
      left: 0.4rem;
    }
    .admonition-content {
      padding: 0.5rem 0;
    }
  }

  .abstract {
    background-color: rgba(0, 176, 255, 0.1);
    border-left-color: #00b0ff;
    .admonition-title {
      background-color: rgba(0, 176, 255, 0.1);
      border-bottom-color: rgba(0, 176, 255, 0.1);
      background-color: rgba(0, 176, 255, 0.25);
    }
    i.icon {
      color: #00b0ff;
    }
  }

  .info {
    background-color: rgba(83, 211, 230, 0.1);
    border-left-color: #00b8d4;
    .admonition-title {
      background-color: rgba(83, 211, 230, 0.1);
      border-bottom-color: rgba(83, 211, 230, 0.1);
    }
    i.icon {
      color: #00b8d4;
    }
  }

  .tip {
    background-color: rgba(0, 191, 165, 0.1);
    border-left-color: #00bfa5;
    .admonition-title {
      background-color: rgba(0, 191, 165, 0.1);
      border-bottom-color: rgba(0, 191, 165, 0.1);
    }
    i.icon {
      color: #00bfa5;
    }
  }

  .success {
    background-color: rgba(0, 200, 83, 0.1);
    border-left-color: #00c853;
    .admonition-title {
      background-color: rgba(0, 200, 83, 0.1);
      background-color: rgba(0, 200, 83, 0.1);
    }
    i.icon {
      color: #00c853;
    }
  }

  .question {
    background-color: rgba(100, 221, 23, 0.1);
    border-left-color: #64dd17;
    .admonition-title {
      background-color: rgba(100, 221, 23, 0.1);
      background-color: rgba(100, 221, 23, 0.1);
    }
    i.icon {
      color: #64dd17;
    }
  }

  .warning {
    background-color: rgba(255, 145, 0, 0.1);
    border-left-color: #ff9100;
    .admonition-title {
      background-color: rgba(255, 145, 0, 0.1);
      background-color: rgba(255, 145, 0, 0.1);
    }
    i.icon {
      color: #ff9100;
    }
  }

  .failure {
    background-color: rgba(255, 82, 82, 0.1);
    border-left-color: #ff5252;
    .admonition-title {
      background-color: rgba(255, 82, 82, 0.1);
      background-color: rgba(255, 82, 82, 0.1);
    }
    i.icon {
      color: #ff5252;
    }
  }

  .danger {
    background-color: rgba(68, 138, 255, 0.1);
    border-left-color: #ff1744;
    .admonition-title {
      background-color: rgba(68, 138, 255, 0.1);
      background-color: rgba(68, 138, 255, 0.1);
    }
    i.icon {
      color: #ff1744;
    }
  }

  .bug {
    background-color: rgba(255, 23, 68, 0.1);
    border-left-color: #f50057;
    .admonition-title {
      background-color: rgba(255, 23, 68, 0.1);
      background-color: rgba(255, 23, 68, 0.1);
    }
    i.icon {
      color: #f50057;
    }
  }

  .example {
    background-color: rgba(101, 31, 255, 0.1);
    border-left-color: #651fff;
    .admonition-title {
      background-color: rgba(101, 31, 255, 0.1);
      background-color: rgba(101, 31, 255, 0.1);
    }
    i.icon {
      color: #651fff;
    }
  }

  .quote {
    background-color: rgba(159, 159, 159, 0.1);
    border-left-color: #9e9e9e;
    .admonition-title {
      background-color: rgba(159, 159, 159, 0.1);
      background-color: rgba(159, 159, 159, 0.1);
    }
    i.icon {
      color: #9e9e9e;
    }
  }

  // bilibili
  .bilibili {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .shortcode-link {
    max-width: 100%;
    margin-top: var(--global-spacing);
    margin-bottom: var(--global-spacing);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(227, 232, 237);
    border-radius: 8px;
    padding: calc(var(--global-spacing) * 2);

    .shortcode-link-left {
      margin-right: 8px;
      .icon {
        width: 32px;
        height: 32px;
      }
    }
    .shortcode-link-right {
      height: auto;
      flex-grow: 1;
      display: flex;
      width: 0;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    .title {
      color: rgb(61, 146, 82);
    }
    .shortcode-link-right-url {
      width: 100%;

      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  figure {
    margin: 0.5rem;
    text-align: center;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      border-style: none;
      max-width: 100%;
      min-height: 1em;
    }
  }
}
