$header-height: 40px;

:root {
  --header-height: 40px;
  --highlight-background-color: rgb(245, 247, 249);
  --highlight-font-color: rgba(59, 69, 78, 1);
  --global-spacing: 8px;

  // Color of the link
  --global-link-color: #161209;
  --global-link-color-dark: #a9a9b3;

  // Color of the hover link
  --global-link-hover-color: #2d96bd;
  --global-link-hover-color-dark: #fff;

  // Color of the single link
  --single-link-color: #2d96bd;
  --single-link-color-dark: #55bde2;

  // Color of the h over single link
  --single-link-hover-color: #ef3982;
  --single-link-hover-color-dark: #bdebfc;

  --code-font-family: "Source Code Pro", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --code-font-size: 0.875rem;
}
