@mixin link($light, $dark) {
  a,
  a::before,
  a::after {
    text-decoration: none;

    @if $light {
      color: var(--global-link-color) !important;
    } @else {
      color: var(--single-link-color) !important;
    }

    [theme="dark"] & {
      @if $dark {
        color: var(--global-link-color-dark) !important;
      } @else {
        color: var(--single-link-color-dark) !important;
      }
    }
  }

  a:active,
  a:hover {
    @if $light {
      color: var(--global-link-hover-color) !important;
    } @else {
      color: var(--single-link-hover-color) !important;
    }

    [theme="dark"] & {
      @if $dark {
        color: var(--global-link-hover-color-dark) !important;
      } @else {
        color: var(--single-link-hover-color-dark) !important;
      }
    }
  }
}
