<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="wrapper">
      {{- partial "header.html" . -}}
      <aside class="menu"></aside>
      {{- block "main" . }}{{- end }}
      {{ partial "toc.html" . }}
      {{- partial "footer.html" . -}}
    </div>

    {{ $clipboard := resources.Get "lib/clipboard/clipboard.min.js"}}
    <script src="{{ $clipboard.RelPermalink }}" defer></script>

    {{ $typeit := resources.Get "lib/typeit/index.umd.js" }}
    <script src="{{ $typeit.RelPermalink }}" defer></script>

    {{ $jsmain := resources.Get "js/main.js" }}
    <script src="{{ $jsmain.RelPermalink }}" defer></script>
  </body>
</html>
